In [1]:
import pandas as pd

In [6]:
# 获取数据
order_products = pd.read_csv("D:\\CMY_CODE\PC\\fast-learn-ML\\resource\\instacart\\order_products__prior.csv")
products = pd.read_csv("D:\\CMY_CODE\PC\\fast-learn-ML\\resource\\instacart\\products.csv")
orders = pd.read_csv("D:\\CMY_CODE\PC\\fast-learn-ML\\resource\\instacart\\orders.csv")
aisles = pd.read_csv("D:\\CMY_CODE\PC\\fast-learn-ML\\resource\\instacart\\aisles.csv")

In [10]:
# 合并表
table1 = pd.merge(aisles,products,on=["aisle_id","aisle_id"])

In [13]:
table2 = pd.merge(table1, order_products, on=["product_id","product_id"])

In [14]:
table3 = pd.merge(table2,orders,on=["order_id","order_id"])

In [16]:
table3.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0

In [18]:
# 找到user_id和aisles之间的关系
table = pd.crosstab(table3["user_id"],table3["aisle"])

In [19]:
table

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206205,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
206206,0,4,0,0,0,0,4,1,0,0,...,1,0,0,0,0,1,0,1,0,0
206207,0,0,0,0,1,0,0,0,0,0,...,3,4,0,2,1,0,0,11,0,15
206208,0,3,0,0,3,0,4,0,0,0,...,5,0,0,7,0,0,0,0,0,33
206209,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3

In [20]:
data = table[:1000]

In [21]:
# PCA降维
from sklearn.decomposition import PCA

In [27]:
transfer = PCA(n_components=0.95)
data_new = transfer.fit_transform(data)
data_new.shape

(1000, 35)