In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\CMY_CODE\PC\fast-learn-ML\resource\FBlocation\train.csv")

In [3]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [6]:
# 基本数据处理
# 缩小数据范围
data = data.query("x<2.5 & x>2 & y<1.5 & y>1.0")

In [7]:
data

            row_id       x       y  accuracy    time    place_id
112            112  2.2360  1.3655        66  623174  7663031065
180            180  2.2003  1.2541        65  610195  2358558474
367            367  2.4108  1.3213        74  579667  6644108708
874            874  2.0822  1.1973       320  143566  3229876087
1022          1022  2.0160  1.1659        65  207993  3244363975
...            ...     ...     ...       ...     ...         ...
29115112  29115112  2.1889  1.2914       168  721885  4606837364
29115204  29115204  2.1193  1.4692        58  563389  2074133146
29115338  29115338  2.0007  1.4852        25  765986  6691588909
29115464  29115464  2.4132  1.4237        61  151918  7396159924
29117493  29117493  2.2948  1.0504        81   79569  1168869217

[83197 rows x 6 columns]

In [8]:
#处理时间特征
time_value = pd.to_datetime(data["time"], unit="s")

In [10]:
date = pd.DatetimeIndex(time_value)

In [11]:
data["day"] = date.day

C:\Users\13673\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
data["weekday"] = date.weekday

C:\Users\13673\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
data["hour"] = date.hour

C:\Users\13673\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
180      180  2.2003  1.2541        65  610195  2358558474    8        3     1
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9

In [18]:
place_count = data.groupby("place_id").count()["row_id"]

In [21]:
place_count[place_count > 3]

place_id
1014605271     28
1015645743      4
1017236154     31
1024951487      5
1028119817      4
             ...
9936666116    140
9954155328      8
9980625005     16
9994257798     25
9996671132     18
Name: row_id, Length: 950, dtype: int64

In [27]:
data_final = data[data["place_id"].isin(place_count[place_count > 3].index.values)]

In [30]:
# 筛选特征值和目标值
x = data_final[["x","y","accuracy","day","weekday","hour"]]
y = data_final["place_id"]

In [35]:
from sklearn .model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x, y)

In [39]:
x_train

               x       y  accuracy  day  weekday  hour
607056    2.1235  1.0228        62    5        0    22
6138481   2.1462  1.3173         5    3        5    14
11190848  2.4190  1.3503        72    3        5     4
13106994  2.4818  1.4366        69    9        4    21
17463533  2.1068  1.1451        68    5        0    10
...          ...     ...       ...  ...      ...   ...
28086339  2.2800  1.4725        63    8        3     6
27202810  2.0350  1.2158        24    1        3     6
6023467   2.1253  1.0602        66    9        4     4
8761190   2.2553  1.0097        57    4        6    16
2418138   2.2307  1.3930         9    4        6     9

[60682 rows x 6 columns]

In [40]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [42]:
# 3 特征工程：标准化
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

# 4 KNN算法预估模型
estimator = KNeighborsClassifier(algorithm='auto')

# 网格搜索+交叉验证
param_dict = {"n_neighbors": [5, 7, 9]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=10)
estimator.fit(x_train, y_train)

# 5 模型评估
# 方法1： 直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和与测试", y_test == y_predict)

 # 最佳参数
print(estimator.best_params_)
# 最佳结果
print(estimator.best_score_)
# 最佳估计器
print(estimator.best_estimator_)
# 最佳验证结果
print(estimator.cv_results_)

C:\Users\13673\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

y_predict:
 [4921814476 4861093827 7810150060 ... 3157530019 7789869701 6215057357]
直接比对真实值和与测试 10847240     True
7451541      True
16978458    False
18517874    False
10187645    False
            ...
18776333    False
25602035     True
15782354    False
5158210     False
15966657    False
Name: place_id, Length: 20228, dtype: bool
{'n_neighbors': 7}
0.3583929336541314
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')
{'mean_fit_time': array([0.10239773, 0.13452466, 0.12870235]), 'std_fit_time': array([0.01820603, 0.08325862, 0.02864119]), 'mean_score_time': array([0.57330112, 0.66979544, 0.88382337]), 'std_score_time': array([0.05963978, 0.15132517, 0.38017935]), 'param_n_neighbors': masked_array(data=[5, 7, 9],
             mask=[False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([0.34653161, 0.33962554, 0.33394721]), 'split1_test_score': array([0.34645181, 0.34846607, 0.34381779]), 'split2_test_score': array([0.33830924, 0.34145192, 0.33972344]), 'split3_test_score': array([0.3525353 , 0.353819  , 0.35109114]), 'split4_test_score': array([0.35322078, 0.36059662, 0.3579741 ]), 'split5_test_score': array([0.35746531, 0.3664939 , 0.35830129]), 'split6_test_score': array([0.36701766, 0.3639606 , 0.36124321]), 'split7_test_score': array([0.36321244, 0.36891192, 0.36476684]), 'split8_test_score': array([0.36625874, 0.36940559, 0.36118881]), 'split9_test_score': array([0.37242725, 0.37686302, 0.37633073]), 'mean_test_score': array([0.35587159, 0.35839293, 0.3542731 ]), 'std_test_score': array([0.01029927, 0.01200781, 0.01212949]), 'rank_test_score': array([2, 1, 3])}

In [43]:
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

准确率为：
 0.3699822028870872